<div class="main">
  <a routerLink="/products" routerLinkActive="active">Go To Products</a>
  <a
    routerLink="/settings"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Go To settings</a
  >
  <a routerLink="/dashboard" routerLinkActive="active">Go To dashboard</a>
  <a routerLink="/settings/profile" routerLinkActive="active"
    >Go To dashboard</a
  >
</div>

<button (click)="addPost()">Create Post</button>

@for (post of posts; track post.id) {
<h1>{{ post.title }}</h1>
<p>{{ post.body }}</p>
} @empty {
<p>No posts found</p>
}

<div>
  <router-outlet />
</div>
